:root {
  --cell-size: 100px;
  --color: #81c3fd;
  /* for hover */
  --color-set: #0275d8;
  /* when set */
  --l: 10px;
  /* X line-width */
}

body {
  margin: 0;
  background-image: url("x_pink.jpg");
}

.board {
  width: 100vw;
  height: 55vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #32aeb7d1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 1px
}

#gameTextHeader {
  text-align: center;
  font-style: oblique;
  font-size: 50px;
}

#restartButton {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}
